<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>茅坡村影院管理系统</title>
    <link rel="stylesheet" href="/stylesheets/css/public.css"/>
    <link rel="stylesheet" href="/stylesheets/css/style.css"/>
    <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
</head>
<body>
<!--头部-->
<header class="publicHeader">
    <h1>临潼影院管理系统</h1>

    <div class="publicHeaderR">
        <p><span>下午好！</span><span style="color: #fff21b"><%= title%></span> , 欢迎你！</p>
        <a href="/login">退出</a>
    </div>
</header>
<!--时间-->

<!--主体内容-->
<section class="publicMian">
    <div class="left">
        <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
        <nav>
            <ul class="list">
                
                <li><a href="/adindex/movielist">电影列表</a></li>
                <li><a href="/adindex/movieadd">添加电影</a></li>
                <li><a href="/adindex/playlist">演出厅管理</a></li>
                <li><a href="/adindex/playadd">添加演出厅</a></li>
                <li><a href="/adindex/playmovie">添加演出</a></li>
                <li><a href="/adindex/played">演出计划</a></li>
                <li><a href="/login">退出系统</a></li>
            </ul>
        </nav>
    </div>
    
