<%- include bossheader.ejs %>
<div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>用户管理页面 >> 用户添加页面</span>
        </div>
        <div class="providerAdd">
            <form action="/bossindex/useradd" method="post">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div class="">
                    <label for="userId">管理员编码：</label>
                    <input type="text" name="userId" id="userId"/>
                    <span>*请输入管理员编码，且不能重复</span>
                </div>
                <div>
                    <label for="userName">管理员姓名：</label>
                    <input type="text" name="userName" id="userName"/>
                    <span >*请输入管理员姓名</span>
                </div>
                <div>
                    <label for="userpassword">密码：</label>
                    <input type="text" name="userpassword" id="userpassword"/>
                    <span>*密码长度必须大于6位小于20位</span>

                </div>
                <div>
                    <label for="userRemi">确认密码：</label>
                    <input type="text" name="userRemi" id="userRemi"/>
                    <span>*请输入确认密码</span>
                </div>
                <div>
                    <label >性别：</label>

                    <select name="sex">
                        <option>男</option>
                        <option>女</option>
                    </select>
                    <span></span>
                </div>
                <div>
                    <label for="data">年龄：</label>
                    <input type="text" name="userAge" id="age"/>
                    <span >*</span>
                </div>
                <div>
                    <label for="userphone">电话：</label>
                    <input type="text" name="userphone" id="userphone"/>
                    <span >*</span>
                </div>
               
                
                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="userList.html">返回</a>-->
                    <input type="submit" value="保存" />
                    <input type="submit" value="返回" />
                </div>
            </form>
        </div>

    </div>
</section>
