<div class="footer">
			<div class="col-md-3 footer-left">
				<div class="f-mov-list">
					<h4>选座购票流程</h4>
					<ul>
						<li><a href="now-showing.html">选择影片和场次</a></li>
						<li><a href="comming-soon.html">选择中意的座位</a></li>
						<li><a href="celebrities.html">支付并收到取票短信</a></li>
					</ul>
					<div class="clearfix"></div>
				</div>
				
			</div>
			<div class="col-md-3 footer-left">
				<div class="f-mov-list">
					<h4>取票流程</h4>
					<ul>
						<li><a href="#">收到取票短信</a></li>
						<li><a href="#">影院自助取票</a></li>
						<li><a href="#">短信重发方式</a></li>						
					</ul>
					<div class="clearfix"></div>
				</div>
				
			</div>
			<div class="col-md-3 footer-left">
				<div class="f-mov-list">
					<h4>常见问题</h4>
					<ul>
						<li><a href="donate.html">是否支持退票</a></li>
						<li><a href="vochers.html">填错手机号怎么办</a></li>
						<li><a href="gift-cards.html">更多问题</a></li>
					</ul>
					<div class="clearfix"></div>					
				</div>	
				
			</div>			
			
			<div class="col-md-3 footer-left">
				<div class="f-mov-list">
					<h4>协议规范</h4>
					<ul>
						<li><a href="movies.html">用户服务协议</a></li>
						<li><a href="movies.html">食品管理规范</a></li>
						<li><a href="movies.html">隐私权政策</a></li>
					
						
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
			
			
			
	</div>
			
	

			
</body>
</html>