<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>系统登录 - 茅坡村影院管理</title>
    <link rel="stylesheet" href="/stylesheets/css/style.css"/>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
</head>
<body class="login_bg">
    <section class="loginBox">
        <header class="loginHeader">
            <h1>临潼影院管理系统</h1>
        </header>
        <section class="loginCont">
            <form class="loginForm"  id="myform" method="post" action="/login">
                <div class="inputbox">
                    <label for="user">用户名：</label>
                    <input id="username" type="text" name="username" placeholder="请输入用户名" value="">
                </div>
                <div class="inputbox">
                    <label for="mima">密码：</label>
                    <input id="password" type="password" name="password" placeholder="请输入密码" 
                    value="">
                </div>
                <div class="subBtn">
                    <input type="submit" value="经理登录" / id="sub1" name="boss">
                     <input type="submit" value="管理员登录" / id="sub2" name="admin">
                </div>

            </form>
        </section>
    </section>
    


</body>
</html>